/* font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Orbitron', sans-serif; */

.name{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #fdeb14;
	text-decoration: none;	
	background-color: black;
	float: left;

}
.name1{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #fdeb14;
	text-decoration: none;	
	background-color: black;
	float: left;
	margin-left: -18px;
}
.topbar{
	background-color: black;
  	border-radius: 0px;
  	border-color: black;
  	border-style: solid;
/*	
	border-bottom-color: black;
	border-top-color: #fdeb14;
	border-left-color: #fdeb14;
	border-right-color: #fdeb14; */
}


hr{
	color: white;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	background-color: white;
}


.sellb {
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 4px;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  letter-spacing: 0.5px;
  border-top-color: black;
  color: #fdeb14;
  text-align: center;
  font-size: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 20px;
  min-width:250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  word-spacing: 5px;

}

.sellb span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fdeb14;
  min-width:250px;
}

.sellb span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 15px;
  right: -20px;
  transition: 0.5s;
  color: black;
}

.sellb:hover{
  color: black;
  background-color: #fdeb14;
}

.sellb:hover span {
  background-color: #fdeb14;
  padding-right: 25px;
  border-color: black;
  color: black;

}

.sellb:hover span:after {
  opacity: 1;
  right: 0;
}  

.sellb:focus{
  color: black;
  background-color: #fdeb14;
}

.sellb:focus span{
	color: black;
	background-color: #fdeb14;
}

.choice{
	color: #fdeb14;
	font-family: 'Alegreya Sans SC', sans-serif;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	max-height: 50px;
	margin-left: 0px;
	background-color: black;
	width: 100px;
}

.choice:hover{
	background-color: #fdeb14;
	color: black;
}

.choice:focus h4{
	color: black;
	background-color: #fdeb14;
}

.choice:focus{
	color: black;
	background-color: #fdeb14;
}

	border-style: solid;
.container{
	border-color: black;
	border-width: 5px;
}


.choice h4{
	margin-top: 7px;
}

.list-group-item{
	border-style: none;
	margin-top: -10px;
}

.navbar{
  background-color: black;
  border-radius: 0px;
  border-bottom-color: white;
}

.navb{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #fdeb14;
  max-height: 85px;
  margin-top: -20px;
  padding-top: 30px;
}

.navb:hover{
  color: #fdeb14;
  border-bottom-color: #fdeb14;
  border-bottom-width: 2px;
  border-radius: 0px;
  border-right-color: black;
  border-left-color: black;
}

.navb:focus {
  color: #fdeb14;
  border-bottom-color: #fdeb14;
  border-bottom-width: 2px;
  border-radius: 0px;
  border-right-color: black;
  border-left-color: black;
}
.navb h3{
  letter-spacing: 1px;
  font-weight: none;
}



/*.db{
  color: #fdeb14;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 0px;
  width: 30px;
  margin-top: 30px;
  font-weight: bolder;
  height: 30px;
  float: right;
  margin-right: 10px;
} */

.glyphicon{
	margin-top: 35px;
	color: #fdeb14;
	width: 25px;
	height: 19px;
	float: right;
	margin-right: 15px;
	font-size: 20px;
}

/*.glyphicon:hover{
  background-color: #fdeb14;
  color: black;
  border-style: solid;
  border-color: #fdeb14;
  border-radius: 5px;
} */

/*.glyphicon:focus{
  background-color: #fdeb14;
  color: black;
  border-style: none;
  border-color: #fdeb14;
} */

.ddiv{
  background-color: black;
  height: 83px;
  border-left-color: black;

}

.ddmenu{
	background-color: black;
}
.b{
	background-color: black;
}

.ddmb{
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: black;
  color: #fdeb14;
  border-style: solid;
  max-height: 40px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ddmb:hover{
  color: #fdeb14;
  border-style: solid;
  background-color: black;
  border-left-color: #fdeb14;
  border-right-color: #fdeb14;
  border-width: 2px;
  border-radius: 0px;
}

.ddmb h4{
	margin-top: 3px;
	letter-spacing: 1px;
}

.ddmb:focus{
  color: #fdeb14;
  border-style: solid;
  background-color: black;
  border-left-color: #fdeb14;
  border-right-color: #fdeb14;
  border-width: 2px;
  border-radius: 0px;
}

 
.list-inline{
	float: right;
	margin-right:20px ;
}
.a{
	background-color: black;
}

.db span{
	padding-top: 20px;
}

.container-fluid span{
	background-color: black;
}





























