.name{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #fdeb14;
	text-decoration: none;	
	background-color: black;
	float: left;

}
.name1{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #fdeb14;
	text-decoration: none;	
	background-color: black;
	float: left;
	margin-left: -18px;
}
.topbar{
	background-color: black;
  	border-radius: 0px;
  	border-color: black;
  	border-style: solid;
/*	
	border-bottom-color: black;
	border-top-color: #fdeb14;
	border-left-color: #fdeb14;
	border-right-color: #fdeb14; */
}


hr{
	color: white;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	background-color: white;
}

.container{
	border-color: black;
	border-width: 5px;
}
.list-group-item{
	border-style: none;
	margin-top: -10px;
}

.navbar{
  background-color: black;
  border-radius: 0px;
  border-bottom-color: white;
}

.navb{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #fdeb14;
  max-height: 85px;
  margin-top: -20px;
  padding-top: 30px;
}

.navb:hover{
  color: #fdeb14;
  border-bottom-color: #fdeb14;
  border-bottom-width: 2px;
  border-radius: 0px;
  border-right-color: black;
  border-left-color: black;
}

.navb:focus {
  color: #fdeb14;
  border-bottom-color: #fdeb14;
  border-bottom-width: 2px;
  border-radius: 0px;
  border-right-color: black;
  border-left-color: black;
}
.navb h3{
  letter-spacing: 1px;
  font-weight: none;
}

/*.db{
  color: #fdeb14;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 0px;
  width: 30px;
  margin-top: 30px;
  font-weight: bolder;
  height: 30px;
  float: right;
  margin-right: 10px;
} */

.glyphicon{
	margin-top: 35px;
	color: #fdeb14;
	width: 25px;
	height: 19px;
	float: right;
	margin-right: 15px;
	font-size: 20px;
}

/*.glyphicon:hover{
  background-color: #fdeb14;
  color: black;
  border-style: solid;
  border-color: #fdeb14;
  border-radius: 5px;
} */

/*.glyphicon:focus{
  background-color: #fdeb14;
  color: black;
  border-style: none;
  border-color: #fdeb14;
} */

.ddiv{
  background-color: black;
  height: 83px;
  border-left-color: black;

}

.ddmenu{
	background-color: black;
}
.b{
	background-color: black;
}

.ddmb{
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: black;
  color: #fdeb14;
  border-style: solid;
  max-height: 40px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ddmb:hover{
  color: #fdeb14;
  border-style: solid;
  background-color: black;
  border-left-color: #fdeb14;
  border-right-color: #fdeb14;
  border-width: 2px;
  border-radius: 0px;
}

.ddmb h4{
	margin-top: 3px;
	letter-spacing: 1px;
}

.ddmb:focus{
  color: #fdeb14;
  border-style: solid;
  background-color: black;
  border-left-color: #fdeb14;
  border-right-color: #fdeb14;
  border-width: 2px;
  border-radius: 0px;
}

 
.list-inline{
	float: right;
	margin-right:20px ;
}
.a{
	background-color: black;
}

.db span{
	padding-top: 20px;
}

.container-fluid span{
	background-color: black;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */

.search{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 30%;
  border-bottom-left-radius: 5px;
  font-size: 20px;
  border-top-left-radius: 5px;
  word-spacing: 5px;
  height: 40px;
}

.find{
    background-color: black;
    color: #fdeb14;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Alegreya Sans SC', sans-serif;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;   
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;  
    height: 40px; 
    margin-top: 0px;
    font-size: 20px;
    width: 10%;
    margin-left: -5px;
}

.find:hover{
  background-color: #fdeb14;
  color: black;
}

.search2{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;  
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  width: 70%;
  word-spacing: 5px;
}

.find2{
  background-color: black;
  color: #fdeb14;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;  
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; 
  width: 25%;
  margin-left: -5px;
}

.panel1{
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 40%;
  border-color: black;
  border-width: 2px;
  word-spacing: 5px;
  border-radius: 5px;
  max-height: 100px; 
}

.radio{
  font-size: 17px;
}

.panel2{
  width: 95%;
  border-color: black;
  border-width: 2px;
  font-family: 'Alegreya Sans SC', sans-serif;
  word-spacing: 5px;
}

/*
.frame{
  width: 40%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  height: 200px;
  border-left-color: white;
  border-right-color: white;
} */

.image{
  width: 160px;
  height: 190px;
  margin-top: 10px;
}

.table-responsive{
  max-width: 600px;
  font-family: 'Alegreya Sans SC', sans-serif;
  /*border-color: black;
  border-width: 2px;
  border-style: solid; */
}

thead{
  background-color: black;
  color: #fdeb14;
  width: 700px;
  padding-left: 0px;
  word-spacing: 5px;
}


.price{
  color: red;
}

.container h4{
  font-family: 'Alegreya Sans SC', sans-serif;
  word-spacing: 5px;
}

.btn1{
  background-color: black;
  color: #fdeb14;
    border-color: black;
  border-width: 2px;
  margin-top: 10px;
  vertical-align: middle;
}

.btn1:hover{
  background-color: #fdeb14;
  color: black;
  border-color: black;
  border-width: 2px;
}

.row1{
  border-style: solid;
  border-color: black;
  border-left-color: white;
  border-right-color: white;
  margin-top: -2px;
}


.row2{
  background-color: black;
  color: #fdeb14;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.conatiner-fluid{
  width: 90%;
  background-color: green;
}

.xs_img{
  height: 150px;
  background-color: green;
  float: left;
  margin-left: -10px;
  margin-top: 10px;
}

.col-xs-5{
  border-style: solid;
  border-top-width: 2px;
  border-color: white;
  border-top-color: black;
  border-right-style: none;
}

.col-xs-7{
  font-family: 'Alegreya Sans SC', sans-serif;
  border-style: solid;
  border-top-width: 2px;
  border-color: white;
    border-top-color: black;
    border-left-style: none;
  margin-left: 0px;
}


.btnxs{
  float: left;
  font-family: 'Alegreya Sans SC', sans-serif;
  height: 50px;
}

.pageno_on{
  margin-top: -20px;
  width: 35px;
  height: 35px;
  background-color: #fdeb14;
  color: black;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.pageno_off{
  width: 35px;
  height: 35px;
  background-color: black;
  color: #fdeb14;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.pageno{
  color: black;
}

.pageno:hover{
  color: black;
  text-decoration: none;
}

.pageno2{
  color: #fdeb14;
}

.pageno2:hover{
  color: #fdeb14;
  text-decoration: none;
}

.no{
  margin-top: 0px;
}


.pageno2:active{
  background-color: #fdeb14;
  color: black;
  text-decoration: none;
}